:root {
    --color-bg: #f8f9fd;
    --color-shadow: rgba(133, 189, 215, 0.88);
    --color-text: #1091d3;
    --color-hover-bg: #e2e6ea;
}

.navbar {
    background-color: var(--color-bg);
    box-shadow: var(--color-shadow) 0px 10px 10px -8px;
}

.navbarBrand {
    color: var(--color-text);
    font-size: 30px;
    font-weight: 900;
    margin-left: 10px;
}

.navbarBrand:hover {
    color: var(--color-text);
}

.toggle {
    color: var(--color-text);
    font-size: 15px;
    margin-left: 0;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid var(--color-text);
    background-color: var(--color-bg);
}

.toggle:hover {
    color: var(--color-text);
    border: 1px solid var(--color-text);
    background-color: var(--color-hover-bg);
}

.userPhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userName {
    color: var(--color-text);
    font-size: 18px;
}

.offcanvas {
    background-color: var(--color-bg);
    width: 250px !important;
}

.offcanvasTitle {
    color: var(--color-text);
    font-size: 30px;
    font-weight: 900;
}

.navLinks {
    color: #f0f0f0 !important;
}

.navLink {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    gap: 20px;
    color: var(--color-text);
}
