:root {
    --color-main: #1091d3;
    --color-header-bg: #bfd3dd;
}

.customMargin {
  margin-top: 120px;
  margin-bottom: 70px;
}
.mainHeader{
  color: var(--color-main);
   text-align: center;
   background-color: var(--color-header-bg);
   height: 50px;
   line-height: 50px;
   border-radius: 4px;
   
  
}


.productDescripition {
  font-size: 1rem; 
  font-weight: normal; 
}

.productTitle {
  font-size: 1.5rem;
  font-weight: normal;
}

.productDetails {
  font-size: 1rem;
  font-weight: normal;
}
.productImage{
  width: 100%;
  max-width : 450px;
  height: auto;
}

