/* ProductList.module.css */

.tableContainer {
    padding: 20px;
    background: #f8f9fd;
    border-radius: 15px;
    box-shadow: rgba(133, 189, 215, 0.88) 0px 10px 10px -8px;
    border: 2px solid #fff;
    margin: 15px auto;
    max-width: 100%;
  }
  
  .styledTable {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(133, 189, 215, 0.88) 0px 8px 10px -8px;
  }
  
  .styledTable thead {
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
  }
  
  .styledTable thead th {
    font-weight: bold;
    text-align: center;
    padding: 12px;
    font-size: 16px;
  }
  
  .styledTable tbody tr:nth-child(odd) {
    background: #f4f7fb;
  }
  
  .styledTable tbody tr:nth-child(even) {
    background: #ffffff;
  }
  
  .styledTable tbody tr:hover {
    background: rgba(16, 137, 211, 0.1);
    cursor: pointer;
  }
  
  .styledTable tbody td {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .productImage {
    width: 50px;
    height: 50px;
  }
  
  .actionLinks {
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .actionLinks a {
    color: inherit;
    text-decoration: none;
  }
  
  .actionLinks .deleteIcon {
    color: rgb(255 69 69);
  }
  
  .actionLinks .editIcon {
    color: #78ca78;
  }
  
  .actionLinks .viewIcon {
    color: rgb(108 180 202);
  }
  